version: '3'

services:
  haproxy:
    image: "{{ image }}"
    container_name: "{{ cont_name}}"
    restart: always
    volumes:
      - "{{ volume_1 }}:/usr/local/etc/haproxy/haproxy.cfg:ro"
    ports:
      - "{{ external_port }}:80" 