version: "3"

networks:
  gitea:
    external: false

services:
  server:
    image: {{ gitea_image }}
    container_name: {{ gitea_cont_name }}
    environment:
      - USER_UID=1000
      - USER_GID=1000
    restart: always
    networks:
      - gitea
    volumes:
      - {{ gitea_volume }}:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ external_app_port }}:3000"
      - "{{ external_ssh_port }}:22"