version: '3.8'
services:
  cadvisor:
    image: {{ image }}
    container_name: {{ cont_name }}
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - {{ external_port }}:8080

